/* Global styles moved from NavigationBar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    /* Added for full-page layout */
    height: 100%;
}

body {
    /* Ensures the body fills the viewport */
    height: 100%;
}

#root {
    /* Ensures the root element fills the viewport (if you're using one) */
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
