/* NavigationBar.css */

/* Import global styles (e.g., CSS reset) */
@import '../styles/global.css';

/* Header styles */
.header {
  width: 100vw; 
  border-bottom: 1px solid #E2E8F0;
  background-color: #00933C;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  width: 100%; /* full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-sizing: border-box;
}

/* Navigation logo */
.nav-logo {
  font-size: 3rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

/* Nav menu styles */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  transition: left 0.3s ease;
}

/* Nav item spacing */
.nav-item {
  margin-left: 5rem;
}

/* Nav link styles */
.nav-link {
  font-size: 2rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #c69f00;
}

/* Hamburger menu styles */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* Mobile Responsive Styles */
@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #00933C;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    border-radius: 10px;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
  }

  /* Transform hamburger to "X" on active state */
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Button styles for login and signup */
.login-btn {
  background-color: #E3B800;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-btn {
  background-color: #E3B800;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  font-weight: 600;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #c69f00;
}
